<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<%= form_with url: tweets_path, method: :get do |form| %>
  <%= form.text_field :query_text, placeholder: "Busca acá", value: params[:query_text] %>
  <%= form.submit "Buscar" %>
<% end %>

<br>

<%= link_to "New tweet", new_tweet_path %>

<br>
<br>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <%== pagy_nav(@pagy) %>